.quarter-tab {
    display: inline-block;
    min-width: 37px;
    background: #F6F6F6;
    border-style: solid;
    border-color: blue;
    border-width: 1px;
    color: blue;
    cursor: pointer;
    text-align: center;
    float: left;
    padding: 5px;
    margin-right: 200px;
}

.quarter-tab:hover {
    color: green;
    background: #C2C2C2;
}
